@font-face {
    font-family: 'BebasNeueBold';
    src: url(alphaFonts/BebasNeue\ Bold.ttf);;
}
@font-face {
    font-family: 'BebasNeueBook';
    src: url(alphaFonts/BebasNeue\ Book.ttf);;
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url(alphaFonts/BebasNeue\ Regular.ttf);;
}

body{
    background-color: rgb(237, 237, 237);
}

.header {
    padding: 5px;
    text-align: center;
    background: rgb(23, 64, 139);
    color: white;
    font-size: 99%;
    font-family: "BebasNeueBold", saans-serif;
    letter-spacing: 1px;
    border-color: rgb(201, 8, 42);
}

.details {
    font-size: 20px;
    font-family: "BebasNeueRegular", saans-serif;
    line-height: 1.6;;
}

.redReq{
    color: red;
}

.triggers{
    border: 1px solid black;
    padding: 15px;
    max-width: 50%;
    margin:auto;
    margin-block-start: 2%;
    margin-block-end: 2%;
}
.triggersHeader{
    padding: 5px 0;
    padding-left: 15px;
    width: calc(100% + 15px);
    margin: -15px -15px 0 -15px;
    background-color: black;
    color: white;
    text-align: center;
}

.rules{
    border: 1px solid black;
    padding: 15px;
    max-width: 50%;
    margin:auto;
    margin-block-start: 2%;
    margin-block-end: 2%;
}
.rulesHeader{
      padding: 5px 0;
    padding-left: 15px;
    width: calc(100% + 15px);
    margin: -15px -15px 0 -15px;
    background-color: black;
    color: white;
    text-align: center;
}

.feedback{
    border: 1px solid black;
    padding: 15px;
    max-width: 50%;
    margin:auto;
    margin-block-start: 2%;
    margin-block-end: 2%;
}
.feedbackHeader{
      padding: 5px 0;
  padding-left: 15px;
  width: calc(100% + 15px);
  margin: -15px -15px 0 -15px;
  background-color: black;
  color: white;
  text-align: center;
}

.loopsModes{
    border: 1px solid black;
    padding: 15px;
    max-width: 50%;
    margin:auto;
    margin-block-start: 2%;
    margin-block-end: 2%;
}
.loopsModesHeader{
      padding: 5px 0;
  padding-left: 15px;
  width: calc(100% + 15px);
  margin: -15px -15px 0 -15px;
  background-color: black;
  color: white;
  text-align: center;
}

.gifCenter{
    text-align: center;
}

figure img{
    max-width: 100%;
}

@media all and (max-width:600px)
{

    .triggers{
        max-width: 100%;
    }
    .rules{
        max-width: 100%;   
    }
    .feedback{
        max-width:100%;
    }
    .loopsModes{
        max-width: 100%;
    }
    .signInGif{
        max-width: 100%;
    }
    .details{
        font-size: 25px;
    }
}
@media all and (min-width:601px)
{

    .triggers{
        max-width: 85%;
    }
    .rules{
        max-width: 85%;   
    }
    .feedback{
        max-width:85%;
    }
    .loopsModes{
        max-width: 85%;
    }
    .signInGif{
        max-width: 85%;
    }
    .details{
        font-size: 27px;
    }
}
@media all and (min-width:800px)
{

    .triggers{
        max-width: 75%;
    }
    .rules{
        max-width: 75%;   
    }
    .feedback{
        max-width:75%;
    }
    .loopsModes{
        max-width: 75%;
    }
    .signInGif{
        max-width: 75%;
    }
    .details{
        font-size: 30px;
    }
}
@media all and (min-width:900px)
{

    .triggers{
        max-width: 65%;
    }
    .rules{
        max-width: 65%;   
    }
    .feedback{
        max-width:65%;
    }
    .loopsModes{
        max-width: 65%;
    }
    .signInGif{
        max-width: 65%;
    }
    .details{
        font-size: 30px;
    }
}