@font-face {
    font-family: 'RobotoReg';
    src: url(./betaFonts/Roboto-Regular.ttf);
    ;
}

@font-face {
    font-family: 'BebasNeueBook';
    src: url(betaFonts/BebasNeue\ Book.ttf);
    ;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url(betaFonts/BebasNeue\ Regular.ttf);
    ;
}

@font-face {
    font-family: 'BebasBold';
    src: url(./betaFonts/BebasNeue\ Bold.ttf);
    ;
}

body {
    background-color: rgb(246, 246, 246);
    font-family: 'RobotoReg';
}

.bannerHeader {
    padding: 1px;
    padding-top: 20px;
    text-align: center;
    align-items: center;
    background: rgb(14, 46, 161);
    color: white;
    font-size: 99%;
    font-family: 'BebasBold';
    letter-spacing: 1px;
    border-color: rgb(201, 8, 42);
    margin-bottom: 20px;
}

.details {
    font-size: 20px;
    font-family: "BebasNeueRegular", saans-serif;
    line-height: 1.6;
    ;
}

.triggers {
    border: 1px solid rgb(14, 46, 161);
    padding: 15px;
    max-width: 50%;
    margin: auto;
    margin-block-start: 2%;
    margin-block-end: 2%;
    margin-bottom: 20px;
    background-color: white;
}

.triggersList{
    font-family: "RobotoReg";
}

.triggersHeader {
    padding: 5px 0;
    padding-left: 15px;
    width: calc(100% + 15px);
    margin: -15px -15px 0 -15px;
    background-color: rgb(14, 46, 161);
    color: white;
    text-align: center;
}

.rules {
    border: 1px solid rgb(14, 46, 161);
    padding: 15px;
    max-width: 50%;
    margin: auto;
    margin-block-start: 2%;
    margin-block-end: 2%;
    margin-bottom: 20px;
    background-color: white;
}

.rulesHeader {
    padding: 5px 0;
    padding-left: 15px;
    width: calc(100% + 15px);
    margin: -15px -15px 0 -15px;
    background-color: rgb(14, 46, 161);
    color: white;
    text-align: center;
}

.rulesList{
    font-family: "RobotoReg";
}

.feedback {
    border: 1px solid rgb(14, 46, 161);
    padding: 15px;
    max-width: 50%;
    margin: auto;
    margin-block-start: 2%;
    margin-block-end: 2%;
    margin-bottom: 20px;
    background-color: white;
}

.feedbackHeader {
    padding: 5px 0;
    padding-left: 15px;
    width: calc(100% + 15px);
    margin: -15px -15px 0 -15px;
    background-color:rgb(14, 46, 161);
    color: white;
    text-align: center;
}

.feedbackList{
    font-family: "RobotoReg";
}

.loopsModes {
    border: 1px solid rgb(14, 46, 161);
    padding: 15px;
    max-width: 50%;
    margin: auto;
    margin-block-start: 2%;
    margin-block-end: 2%;
    background-color: white;
}

.loopsModesHeader {
    padding: 5px 0;
    padding-left: 15px;
    width: calc(100% + 15px);
    margin: -15px -15px 0 -15px;
    background-color: rgb(14, 46, 161);
    color: white;
    text-align: center;
}

.loopsModesList{
    font-family: "RobotoReg";
}

.linkDiv{
    font-family: "RobotoReg";
    text-align: center;
    padding: 10px;
}

.images{
    height:auto;
    margin:0 auto;
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    vertical-align:middle;
}

.images img{
    width:40%;
}

@media all and (max-width:650px) {

    .externalWrapper{
        max-width: 93%;
    }
    .signInWrapper{
        max-width:100%
    }
    .triggers {
        max-width: 85%;
    }
   /* .button{
        max-width: 65%;
    }*/
    .rules {
        max-width: 85%;
    }

    .feedback {
        max-width: 85%;
    }

    .loopsModes {
        max-width: 85%;
    }
    .details {
        font-size: 17px;
    }
    .images img{
        width:70%;
    }
    .logInGif{
        margin-top:40px;
    }
}
@media all and (min-width:650px) {
    .externalWrapper{
        max-width:566px;
    }
    .centerWrapper
    {
        max-width: 645px;
    }
    .signInWrapper{
        max-width: 566px;
    }
    .triggers {
        max-width: 540px;
    }

    .rules {
        max-width: 540px;
    }

    .feedback {
        max-width: 540px;
    }

    .loopsModes {
        max-width: 540px;
    }

    .details {
        font-size: 17px;
    }
}

@media all and (min-width:768px) {
    .bannerHeader{
        font-size: 24px;
    }
    .header2{
        font-size: 60px;
        max-width: 100%;
    }
    .triggersHeader{
        font-size: 24px;
    }
    .rulesHeader{
        font-size: 24px;
    }
    .feedbackHeader{
        font-size: 24px;
    }
    .loopsModesHeader{
        font-size: 24px;
    }
    
}

@media all and (max-width:735px) {
    .images{
        flex-wrap: wrap;
    }
    .logInGif{
        width:80%;
    }
    .basketballGif{
        width:80%;
    }
}  

@media all and (max-width:405px) {
    .images img{
        width: 99%;
    }
}
